:root {
    --my-color: black;
    --second-color: red;
    --my-background-color: white;
    --my-button-background-color: crimson;

}

body {
color: var(--my-color);
background-color: var(--my-background-color);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium;}

.buttons {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.link {
    text-decoration: none;
}
.text-deco {
    text-decoration: overline;
    text-transform: uppercase;
}
.button-deco {
    background-color: var(--my-button-background-color);
    color: var(--my-color);
}