:root {
    --black-color: black;
    --red-color: rgb(216, 52, 52);
    --white-color: rgb(255, 255, 255);
    --rose-color: rgb(210, 65, 94);
    --blue-color: rgb(54, 29, 135);
    --lightrose-color: rgb(221, 148, 163);
    

}

body {
color: var(--black-color);
background-color: var(--white-color);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;}

.container {
    width: 1500px; 
    padding-top: 120px;

}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.buttons {
    display: flex;
    justify-content: space-evenly;
   
}

.contact-list {
    list-style: none;
    font-size: 25px;
    font-weight: 700;
    
}

.link {
    text-decoration: none;
    color: var(--red-color);
}

.link:hover {color: var(--blue-color);}

.button-deco {
    background-color: var(--rose-color);
    color: var(--black-color);
    font-size: 40px;
    border: 4px solid var(--black-color);
    border-radius: 10px;
    padding: 15px;
}

.button-deco:hover {
    background-color: var(--blue-color);
}

.logo {
    border: 4px solid var(--red-color);
    border-radius: 100px;
}

.logo:hover {
    border: 4px solid var(--blue-color);
    
}

.container>p::first-letter {
    font-size: 35px;
    color: var(--red-color);
}

.svg {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;

}

h1 {
    animation-name: modalwindow;
    animation-duration: 5s;
}

@keyframes modalwindow {

    0% {border: 5px solid var(--rose-color);}
    25% {border: 4px solid var(--red-color);}
    50% {border: 3px solid var(--rose-color);}
    75% {border: 2px solid var(--red-color);}
    100% {border: 1px solid var(--rose-color);}
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 12px;
    line-height: 1.5;
    border: 3px dashed var(--black-color);
    padding: 10px;
    background-color: var(--lightrose-color);
}
label {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 1500px;
}

input {
    height: 24px;
    border: 3px solid var(--black-color);
}

.radio {
    display: flex;
    justify-content:space-around;
}